<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Show</title>
</head>
<body>
    <a href="/shows">Go Back </a>
    <h1> Edit Show </h1>

    <form action="/shows/{{currShow.id}}/update" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value={{currShow.title}} >

        <div>
            <label for="net">Network</label>
            <input type="text" name="net" id="net" value={{currShow.network}}>

            <label for="release">Release Date</label>
            <input type="date" name="release" id="release" placeholder={{currShow.release_date}}>
        </div>

        <label for="desc">Description</label>
        <textarea name="desc" id="" cols="30" rows="10"> {{currShow.description}} </textarea>

        <div>
          <input type="submit" value="Update">
        <p> <a href="/shows/{{currShow.id}}">Go to Show</a> </p>  
        </div>
        

    </form>
    
</body>
</html>